<!DOCTYPE HTML>
<html>
	<head>
		<title>Grant Bartel</title>

		<meta name="author" content="Grant Bartel">
		<meta name="copyright" content="(c) Grant Bartel 2017">
		<meta name="keywords" content="grant bartel, grantathon, quantsketch">
		<meta name="description" content="A simple personal webiste pointing to important links.">

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu">
		<script src="https://use.fontawesome.com/c54c3f0b0d.js"></script>
	</head>

	<body>
		<h1>Grant Bartel</h1>
		<p>Co-founder of <a href="https://www.quantsketch.com" target="_blank">QuantSketch</a></p>

		<div>
			<a href="https://www.facebook.com/grant.bartel" target="_blank" style="margin-right:10px;">
				<i class="fa fa-facebook-square fa-2x" style="color:#3B5998;"></i></a>

			<a href="https://www.github.com/grantathon" target="_blank" style="margin-right:10px;">
				<i class="fa fa-github fa-2x" style="color:#333;"></i></a>

			<a href="https://www.linkedin.com/in/grantbartel" target="_blank" style="margin-right:10px;">
				<i class="fa fa-linkedin-square fa-2x" style="color:#0077B5;"></i></a>

			<a href="https://www.quora.com/profile/Grant-Bartel" target="_blank" style="margin-right:10px;">
				<i class="fa fa-quora fa-2x" style="color:#AA2200;"></i></a>

			<a href="https://twitter.com/grantbartel" target="_blank">
				<i class="fa fa-twitter-square fa-2x" style="color:#0084B4;"></i></a>
		</div>
	</body>
</html>